# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\LENOVA\Documents\NetBeansProjects\Prerequisite_OOP\Hackerrank\Hackerrank_GradingStudent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
